<p id="notice"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @trainer.banner_url %>');">
  <div class="container">
    <h1><%= @trainer.name %></h1>
  </div>
</div>

<div class="cards m-3">
  <% @trainer.pokemons.each do |pokemon| %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= pokemon.image_url %>'); background-size: cover;">
  <%= pokemon.name %>
  <%= link_to "+", pokemon_path(pokemon), method: :delete, class: 'card-remove-link' %>
</div>
  <% end %>
</div>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <h3>Add a Pokemon</h3>
      <%= simple_form_for [@trainer, @pokemon] do |f| %>
        <%= f.input :name, placeholder: "Name your pokemon" %>
        <%= f.input :image_url, placeholder: "www.pokemon.com" %>
        <%= f.button :submit, class: "btn btn-primary w-100" %>
      <% end %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
